classes
deps
doc
lib
bin
target
repos
resources/public/3rd
resources/public/compiled
.lein-plugins
.lein-cljsbuild-compiler*
.lein-cljsbuild-repl
.nrepl-history
log.txt
logfile
*.iml
*.log
*~
[#]*[#]
.\#*
.lein-failures
.lein-deps-sum
.nrepl-port
.DS_Store
pom.*
**/out
